.email {
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.email-left h1{
    font-size: 3rem;
}
.email-left p{
    font-size: 2rem;
}


.email-left p:last-child{
    margin-top: 5rem;
    font-size: 1.2rem;
    color: #646464;
}

.email-left p:last-child img{   
    width: 20px;
    height: 20px;
}
