* {
  font-family: "Jost", system-ui;
}


.hidden {
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 1s ease, transform 1s ease, filter 1s ease;
  filter: blur(5px);
}

.show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}
